<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dgutierrez.warehouse" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".PedidosActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Warehouse" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapaActivity"
            android:label="@string/title_activity_mapa"
            android:parentActivityName=".PedidosActivity"
            android:theme="@style/Theme.Warehouse" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dgutierrez.warehouse.PedidosActivity" />
        </activity>
        <activity
            android:name=".ArticulosActivity"
            android:label="@string/title_activity_articulos"
            android:parentActivityName=".MapaActivity"
            android:theme="@style/Theme.Warehouse">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.dgutierrez.warehouse.MapaActivity" />
        </activity>
    </application>

</manifest>
